name: 'Rebol/SQLite'
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
    paths:
      - .github/workflows/rebol-sqlite.yml

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  OUT: ${{github.WORKSPACE}}/Release
  REBOL_MODULES_DIR: ${{github.WORKSPACE}}/Release

jobs:
  windows:
    runs-on: windows-latest
    if: true
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Prepare output directory
      shell: bash
      run: mkdir $OUT

    - name: Install Rebol
      uses: oldes/install-rebol@v3.17.0
      with:
        product: Bulk

    - name: Build 32bit Rebol/SQLite extension
      shell: bash
      run: ./rebol3 siskin.r3 rebol/sqlite --msvc -o $OUT/sqlite-windows-x86.rebx sqlite-x86

    - name: Build 64bit Rebol/SQLite extension
      shell: bash
      run: ./rebol3 siskin.r3 rebol/sqlite --msvc -o $OUT/sqlite-windows-x64.rebx sqlite-x64

    - name: Minimal Rebol/SQLite extension test
      shell: bash
      run:  ./rebol3 ./tree/rebol/Rebol-SQLite/ci-test.r3

    - uses: actions/upload-artifact@v4
      with:
        name: Rebol-SQLite-Windows
        path: ${{env.OUT}}/sqlite*.rebx

  linux:
    runs-on: ubuntu-latest
    if: true
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Prepare output directory
      run: mkdir $OUT

    - name: Install Rebol
      uses: oldes/install-rebol@v3.17.0
      with:
        product: Bulk

    - name: Install minimal 32-bit support
      run: sudo apt-get update && sudo apt-get install -y gcc-multilib libc6-dev-i386

    - name: Build 32bit Rebol/SQLite extension
      run: ./rebol3 siskin.r3 rebol/sqlite -o $OUT/sqlite-linux-x86.rebx sqlite-x86

    - name: Build 64bit Rebol/SQLite extension
      run: ./rebol3 siskin.r3 rebol/sqlite -o $OUT/sqlite-linux-x64.rebx sqlite-x64

    - name: Minimal Rebol/SQLite extension test
      run:  ./rebol3 ./tree/rebol/Rebol-SQLite/ci-test.r3

    - name: Compress 32bit Rebol/SQLite extension
      run:  gzip -9 $OUT/sqlite-linux-x86.rebx
    - name: Compress 64bit Rebol/SQLite extension
      run:  gzip -9 $OUT/sqlite-linux-x64.rebx

    - uses: actions/upload-artifact@v4
      with:
        name: Rebol-SQLite-Linux
        path: ${{env.OUT}}/sqlite-linux-*.gz

  macos:
    runs-on: macos-latest
    if: true
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Prepare output directory
      run: mkdir $OUT

    - name: Install Rebol
      uses: oldes/install-rebol@v3.17.0
      with:
        product: Bulk

    - name: Build Rebol/SQLite extension (x64)
      run: ./rebol3 siskin.r3 rebol/sqlite -o $OUT/sqlite-macos-x64.rebx sqlite-x64

    - name: Build Rebol/SQLite extension (arm64)
      run: ./rebol3 siskin.r3 rebol/sqlite -o $OUT/sqlite-macos-arm64.rebx sqlite-arm64

    - name: Install the Apple certificate
    # https://docs.github.com/en/actions/guides/installing-an-apple-certificate-on-macos-runners-for-xcode-development
      env:
        BUILD_CERTIFICATE_BASE64: ${{ secrets.MACOS_CERTIFICATE }}
        P12_PASSWORD: ${{ secrets.MACOS_CERTIFICATE_PWD }}
        KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
      run: |
        # create variables
        CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
        KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

        # import certificate from secrets
        echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH

        # create temporary keychain
        security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
        security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
        security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

        # import certificate to keychain
        security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
        security list-keychain -d user -s $KEYCHAIN_PATH

        # list available codesigning identities
        security find-identity -v -p codesigning
  
    - name: Codesign executables
      env: 
        MACOS_IDENTITY_ID: ${{ secrets.MACOS_IDENTITY_ID }}
      run: |
        /usr/bin/codesign --force -s $MACOS_IDENTITY_ID $OUT/sqlite-macos-x64.rebx -v
        /usr/bin/codesign --force -s $MACOS_IDENTITY_ID $OUT/sqlite-macos-arm64.rebx -v

    - name: Minimal Rebol/SQLite extension test
      run:  ./rebol3 ./tree/rebol/Rebol-SQLite/ci-test.r3

    - name: Compress Rebol/SQLite extensions
      run:  |
        gzip -9 $OUT/sqlite-macos-x64.rebx
        gzip -9 $OUT/sqlite-macos-arm64.rebx

    - uses: actions/upload-artifact@v4
      with:
        name: Rebol-SQLite-macOS
        path: ${{env.OUT}}/sqlite-macos-*.gz

  openbsd:
    runs-on: ubuntu-latest
    if: true
    steps:
    - uses: actions/checkout@v4
    - name: Crosscompilation for OpenBSD
      uses: vmactions/openbsd-vm@v1
      with:
        release: "7.7"
        envs: 'OUT REBOL_MODULES_DIR'
        usesh: true
        prepare: |
          pkg_add curl git

        run: |
          uname -a
          ls -l /usr/lib/libc.so.*
          ln -sf /usr/lib/libc.so.100.3 /usr/lib/libc.so.99.0
          ldconfig /usr/lib
          mkdir $OUT
          curl https://github.com/Oldes/Rebol3/releases/download/3.17.0/rebol3-bulk-openbsd-x64.gz --output ./rebol3.gz --silent -L
          gunzip ./rebol3.gz
          chmod +x ./rebol3
          ./rebol3 -V
          ls -la .
          ./rebol3 siskin.r3 rebol/sqlite -o $OUT/sqlite-openbsd-x64.rebx sqlite-x64
          file $OUT/sqlite-openbsd-x64.rebx
          ./rebol3 ./tree/rebol/Rebol-SQLite/ci-test.r3

    - name: Compress 64bit Rebol/SQLite extension
      run:  gzip -9 $OUT/sqlite-openbsd-x64.rebx

    - uses: actions/upload-artifact@v4
      with:
        name: Rebol-SQLite-OpenBSD
        path: ${{env.OUT}}/sqlite-openbsd-*.gz

  freebsd:
    runs-on: ubuntu-latest
    if: true
    steps:
    - uses: actions/checkout@v4
    - name: Crosscompilation for FreeBSD
      uses: vmactions/freebsd-vm@v1
      with:
        envs: 'OUT REBOL_MODULES_DIR'
        usesh: true
        prepare: |
          pkg install -y curl git

        run: |
          env
          freebsd-version
          mkdir $OUT
          curl https://github.com/Oldes/Rebol3/releases/download/3.17.0/rebol3-bulk-freebsd-x64.gz --output ./rebol3.gz --silent -L
          gunzip ./rebol3.gz
          chmod +x ./rebol3
          ./rebol3 -V
          ls -la .
          ./rebol3 siskin.r3 rebol/sqlite -o $OUT/sqlite-freebsd-x64.rebx sqlite-x64
          file $OUT/sqlite-freebsd-x64.rebx
          ./rebol3 ./tree/rebol/Rebol-SQLite/ci-test.r3

    - name: Compress 64bit Rebol/SQLite extension
      run:  gzip -9 $OUT/sqlite-freebsd-x64.rebx

    - uses: actions/upload-artifact@v4
      with:
        name: Rebol-SQLite-FreeBSD
        path: ${{env.OUT}}/sqlite-freebsd-*.gz

  dragonflybsd:
    runs-on: ubuntu-latest
    if: true
    steps:
    - uses: actions/checkout@v4
    - name: Crosscompilation for DragonFlyBSD
      uses: vmactions/dragonflybsd-vm@v1
      with:
        envs: 'OUT REBOL_MODULES_DIR'
        usesh: true
        prepare: |
          pkg install -y llvm16 libnghttp2 git

        run: |
          env
          ln -s /usr/local/bin/clang16 /usr/local/bin/clang
          clang --version
          mkdir $OUT
          curl https://github.com/Oldes/Rebol3/releases/download/3.17.0/rebol3-bulk-dragonflybsd-x64.gz --output ./rebol3.gz --silent -L
          gunzip ./rebol3.gz
          chmod +x ./rebol3
          ./rebol3 -V
          ls -la .
          ./rebol3 siskin.r3 rebol/sqlite -o $OUT/sqlite-dragonflybsd-x64.rebx sqlite-x64
          file $OUT/sqlite-dragonflybsd-x64.rebx
          ./rebol3 ./tree/rebol/Rebol-SQLite/ci-test.r3

    - name: Compress 64bit Rebol/SQLite extension
      run:  gzip -9 $OUT/sqlite-dragonflybsd-x64.rebx

    - uses: actions/upload-artifact@v4
      with:
        name: Rebol-SQLite-DragonflyBSD
        path: ${{env.OUT}}/sqlite-dragonflybsd-*.gz

  Haiku-x86:
    runs-on: ubuntu-latest
    if: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Download Haiku Rebol-dev container
        run: docker pull docker.io/oldes/rebol-dev:haiku-x86

      - name: Build all Rebol/SQLite for Haiku OS x86
        run: docker run --rm -v $PWD:/siskin oldes/rebol-dev:haiku-x86 bash -c 'cd /siskin; rebol siskin.r3 rebol/sqlite sqlite-x86'

      - name: Compress result before uploading
        run: |
          mkdir $OUT
          sudo mv ./tree/rebol/Rebol-SQLite/build/sqlite-x86.so $OUT/sqlite-haiku-x86.rebx
          sudo gzip -9 $OUT/sqlite-haiku-x86.rebx

      - uses: actions/upload-artifact@v4
        with:
          name: Rebol-SQLite-Haiku-x86
          path: ${{env.OUT}}/sqlite-*.gz

  Haiku-x64:
    runs-on: ubuntu-latest
    if: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Download Haiku Rebol-dev container
        run: docker pull docker.io/oldes/rebol-dev:haiku-x64

      - name: Build all Rebol/SQLite for Haiku OS x64
        run: docker run --rm -v $PWD:/siskin oldes/rebol-dev:haiku-x64 bash -c 'cd /siskin; rebol siskin.r3 rebol/sqlite sqlite-x64'

      - name: Compress result before uploading
        run: |
          mkdir $OUT
          sudo mv ./tree/rebol/Rebol-SQLite/build/sqlite-x64.so $OUT/sqlite-haiku-x64.rebx
          sudo gzip -9 $OUT/sqlite-haiku-x64.rebx

      - uses: actions/upload-artifact@v4
        with:
          name: Rebol-SQLite-Haiku-x64
          path: ${{env.OUT}}/sqlite-*.gz

  release:
    runs-on: ubuntu-latest
    needs: [windows, linux, macos, openbsd, freebsd, dragonflybsd, Haiku-x86, Haiku-x64]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts
        merge-multiple: true

    - name: Create single archive
      run: |
        cd artifacts
        zip -r ../Rebol-SQLite-all-platforms-${{ github.run_id }}.zip .
        cd ..

    - name: Upload single archive
      uses: actions/upload-artifact@v4
      with:
        name: Rebol-SQLite-all-platforms
        path: Rebol-SQLite-all-platforms-${{ github.run_id }}.zip
        retention-days: 90